/* Header Code starts */

*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    transition: all .2s;
   
}

html{
    scroll-behavior: smooth;
}

/*  background image and header */

header
{
    background-color: #060b3d;
    height: 90px;
    padding-top: 0px;
}
header img
{
    float: left;
    width: 90px;
    height: 90px;
}

header h1
{
    text-align: center;
    padding-top: 12px;
    color: #ffffff;
    font-size: 50px;
}

/*  background image  detailing ends here */

/* Navigation Bar Code Start*/

nav
{
    background-color: #ffffff;
    overflow: hidden;
    opacity: 80%;
}

nav
a
{
    float: left;
    display: block;
    position: relative;
    
    text-align: center;
    padding: 5px 16px;

    color: #060b3d;
    font-size: 25px;
    
    

}

nav a:hover
{
    background-color: #060b3d;
    color: rgb(255, 255, 255);
    opacity: 100%;
}

/* Navigation Bar Code Ends*/

/* Common Body Code*/

body
{   background-image:url("../img/back1.jpg");
    background-color: rgb(0, 69, 111);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    

    font-family: 'Georgia, serif'; 
    padding: 10px; 

}

body
a{
    text-decoration: none;
}

img 
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
    

/* Main Header*/

.mainheader
{
    padding: 0px;
}

/* Main Header Common*/
.mainHeader 
h1,h2,h3
{
    color: rgb(255, 255, 255);

    text-align:right;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;  

    margin: 0;

}

/* Main Header Common*/
.mainHeader 
h1
{
    padding-right: 50px;
    font-size: 150px;
    
}

.mainHeader 
h2
{
    padding-right: 50px;
    font-size: 100px;
    padding-top: 40px;
}

.mainHeader 
h3
{
    padding-right: 50px;
    font-size: 50px;
    padding-top: 10px;

}
/* addtional css tags for explore option for landing page*/

.curved-right
{
    
    color: #ffffff;
    float: right;
    
    text-align: right;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;


    border: 2px solid #ffffff;
    border-radius: 20px;
    -webkit-text-stroke: 1px black;

    position: relative;

}

.curved-right h2 {
    transition: transform 0.2s ease-in-out;
}

.curved-right h2:hover {
    transform: scale(1.1);
    z-index: 1;
}

/* addtional css tags for explore option for landing page ends here*/



/* addtional css tags for take me there option for product page starts here*/
.curved-center
{
    
    color: #ffffff;
    float: center;
    
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    

    -webkit-text-stroke: 1px black;
    padding-right: 50px;
}

.curved-center
h2
{
    border: 2px solid #ffffff;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

/* addtional css tags for take me there option for product page ends here*/


/* Screen Split Code*/

/* .container
{
    display: flex;
    width:fit-content;
} */

canvas
{
    display: flex;
    white-space: nowrap;
    width:100%;
    min-height: 500px;
    background-color: #ffffff;

}

.leftImg
{
    width: 70%;
    float: left;
    border: 5px solid rgb(255, 255, 255);

}

.leftImg img {
    transition: transform 0.2s ease-in-out;
  }


.rightText
{
    width: 30%;
    float: right;

    color: rgb(35, 0, 67);
    background-color: #ffffff;
    background-size: 100%;

    text-align: justify;
    border: 5px solid #ffffff;
    padding: 15px;

    font-size: 18px;


}

/* Screen Split Code ends here */

.leftabout
{
    height:500px;
    width: 50%;
    float: left;
    border: 5px solid #eef0f1;
    margin-top: 10px;
    margin-bottom: 5px;
    opacity: 80%;
    

}

.leftabout img {
    transition: transform 0.2s ease-in-out;
  }
  
  .leftabout img:hover {
    transform: scale(1.1);
    
  }

.rightabout
{
    height:500px;
    width: 50%;
    float: right;


    color: rgb(35, 0, 67);
    background-color: #edeff0;
    background-size: 100%;

    text-align: justify;
    border: 5px solid #9fbad6;
    padding: 15px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    opacity: 70%;
    font-size: 20px;

}

/* anchor highlighting hyperlink */
.anc
{
    color: white;
    border: 2px solid #ffffff;
    border-radius: 20px;
    position: relative;
    padding: 7px;

    
}

/* anchor highlighting hyperlink  ends here*/


/*Responsiveness for mobiles */

@media (max-width: 600px) 
{
    img {
      width:100%;
      position: relative;
    }

}

/*Responsiveness for mobiles  ends here */

/*Responsiveness for Tablets  */


@media (min-width: 600px) and (max-width: 912px)
{
    img
    {
      width:100%;
      position: relative;
    }

    nav a {
        float: left;
        display: block;
        text-align: left;
        width:100%;
    }
}

/*Responsiveness for Tablets  ends here */

 /* Responsiveness For Desktops */

@media (min-width: 912px)
{
    img
    {
      width:100%;
      position: relative;
    }

    nav a 
    {
        float: left;
        display: block;
        text-align: left;
    }
}


 /* Responsiveness For Desktops ends here */


 /*iternary page description*/

.descr
{
text-align: left;
}

.descr
h1
{
    border: 5px solid rgb(255, 255, 255);
    color: #ffffff;
    text-align: center;

}

.descr
h2
{
    border: 5px solid rgb(255, 255, 255);
    color: #ffffff;
    text-align: left;


}

.descr
h3
{
    color: #ffffff;
    text-align: left;


}

.descr
p
{
    color: #ffffff;
    text-align: left;
    padding: 5px;
}

.descr
img
{
    width: 100%;
    height: 300px;
}


/*iternary page description ends here*/


/*About us page */
.aboutText
{
    text-align: center;
}

.aboutText
h1
{
    border: 5px solid rgb(255, 255, 255);
    color: #ffffff;
    text-align: center;
    padding: 10px;
}


.aboutText
p
{
    color: #ffffff;
    text-align: center;
    padding: 40px;
}

/*About us page  ends here*/

footer
p
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 16 px;
    background-color: #060b3d;

    color: white;
}

/*-----------------New Additions------------------*/

#bg-image
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

/* #image
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    transition: width 0.3s ease-in-out;
} */



.container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  }
  
  .leftImg {
    position: relative;
    overflow: hidden;
    width: 100%;
    transition: all 0.5s;
  }
  
  .leftImg img {
    display: block;
    width: 100%;
    transition: all 0.5s;
  }
  
  .leftImg:hover {
    transform: translateX(-20%);
  }
  
  .rightText {
    position: absolute;
    top: 0;
    right: -50%;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    padding: 20px;
    color: #fff;
  }
  
  .container:hover .rightText {
    opacity: 100%;
    transform: translateX(-100%);
  }

  .leftImg img,
.rightText {
  border: none;
}

.leftImg {
    border: none;
  }